
.App {
  text-align: center;
  background-color: 'whitesmoke';
}
.Box{

  background-color: 'whitesmoke';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-1q04gal-MuiDateCalendar-root{
  border: 1px solid black;
}

.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title{
  display: none;
}
.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-actionBar{
  display: none;
}
.css-1rv8zyt-MuiStack-root>:not(style):not(style) {
  align-items: center;
  margin: 0;
}
.MuiDataGrid-colCellTitle {
  display: block; 
  text-align:center; 
  width: 100%; 
}

.MuiDataGrid-cell {
  display: block;
  position: relative;
  text-align: center;
}